calico_node/filesystem/startup
startup.spec
allocate-ipip-addr.spec
calico_node/filesystem/bin
build
dist
venv
env
certs
*~
.idea
release
*.coverprofile
vendor
*.pyc
*.tar
*.tgz
birdcl
.vagrant
gobgp
calico_node/bin
calicoctl/calicoctl
bin
calicoctl_build_container.created
build/*
calico_node/.calico_node.created
